<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117806510162-uilks0auhau42i9qjs17dvk5bvspurc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117806510162-uilks0auhau42i9qjs17dvk5bvspurc5</string>
	<key>API_KEY</key>
	<string>AIzaSyCJD7BSbHevrgQLkDQmWlKVsjzIg10U4hE</string>
	<key>GCM_SENDER_ID</key>
	<string>117806510162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.northeastern.sowmya.RecipeIOSApp</string>
	<key>PROJECT_ID</key>
	<string>loginandsignup-3f3f0</string>
	<key>STORAGE_BUCKET</key>
	<string>loginandsignup-3f3f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117806510162:ios:e0cf2f53a1ca6fc3a36f8b</string>
</dict>
</plist>